<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>КіноТека</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    </head>

    <body>

        <header th:insert="blocks/header-director"></header>

        <div class="container mt-5 mb-5">
            <div th:each="el : ${directors}" class="alert alert-info mt-2">

                <strong align="center"><h3 th:text="${el.name}"/></strong>

                <div class="row">
                    <div class="col-sm-4 mr-auto">
                        <img height="425" width="275" th:src="'/img_directors/' + ${el.picture}" alt="Фото ще не завантажено"/>
                    </div>

                    <div class="col">
                        <b><span>Дата народження: </span></b> <span th:text="${#dates.format(el.born, 'dd MMM yyyy')}"/>
                    </div>
                </div>

                <div class="d-flex justify-content-end flex-nowrap">
                    <a th:href="'/directors/' + ${el.id}" class="btn btn-warning">Детальніше</a>
                </div>

            </div>
        </div>

        <div class="container mt-5 mb-5">
            <ul class="pagination" th:if="${directors.totalPages > 0}">
                <li class="page-item" th:each="pageNumber : ${numbers}"
                    th:class="${pageNumber == directors.number} ? active">
                    <a class="page-link" th:href="@{'/directors?page=' + ${pageNumber}}"
                       th:text="${pageNumber + 1}"></a>
                </li>
            </ul>
        </div>

        <footer th:insert="blocks/footer"></footer>

    </body>
</html>