<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">КіноТека</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Фільми</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/actors">Актори</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/directors">Режисери</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/genres">Жанри</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/countries">Країни</a>
                    </li>
                </ul>
                <div  sec:authorize="isAuthenticated()">
                    <strong class="me-2" style="color:white">User:
                        <span class="me-2" sec:authentication="name"></span>
                    </strong>
                </div>
                <a sec:authorize="isAnonymous()" class="btn btn-primary me-2" href="/login">Вхід</a>
                <a sec:authorize="isAnonymous()" class="btn btn-warning me-2" href="/registration">Реєстрація</a>
                <a sec:authorize="isAuthenticated()" class="btn btn-warning me-2" href="/logout">Вихід</a>

                <form class="d-flex" th:action="@{/directors/search}">
                    <input name="keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-success" type="submit" value="Search">Пошук</button>
                </form>
            </div>
        </div>
    </nav>
    <br>
    <br>

    <div th:align="center">
        <ul class="nav">
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/new/add'" class="btn btn-success">Додати фільм</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/actors/new/add'" class="btn btn-success">Додати актора</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/directors/new/add'" class="btn btn-success">Додати режисера</a>
            </li>
        </ul>
    </div>
</div>

